* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: auto;
    color:white;
    background-color: #070644;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23adb0a0' fill-opacity='0.4'%3E%3Cpath opacity='.3' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 18px;
    text-align: left;
    font-family: 'Teko', sans-serif;
    background-attachment: fixed;
}


a {
    color: gold;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    margin: auto;
}

/*Navegación*/
.nav-main{
    background-color: rgb(0, 0, 30);
    position: fixed;
    width: 100%;
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-brand{
    width: 100px; 
    margin-left: 55px;
}

/*Navegación izquierda*/
.nav-main ul{
    display: flex;
}

.nav-main ul li {
    padding: 60px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid gold;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* SHOWCASE */
hr{
    width: 100%;
}

h1, h2, h3 {

    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

h2{
    font-size: 32px;
}

p {
    font-family: 'Lato', sans-serif;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.showcase{
    width: 90%;
    margin: auto;
    height: 550px;
    background: url(Gallery/presentacion.png) no-repeat center top/cover;
    border: 1px solid silver;
    padding: 50px;
    display: flex;
    border: 1px solid black;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-top: 100px;
}

.titulo1{
    font-family: 'Oswald', sans-serif;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    font-family: 'Oswald', sans-serif;
    src:url("OLD.ttf");
    color:gold;
    font-size: 15px;
    border: 1px solid #ffff;
    margin: 10px 0px;
}

.btn:hover{
    opacity: .7;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/*NEWS CARDS*/

.noticiario{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.noticiario img{
    width: 100%;
    height: 150px;
    border: 1px solid silver;
}

.noticiario h3{
    font-size: 20px;
    margin: 10px 0;
}

.noticiario p{
    margin: 10px 0;
    font-weight: lighter;
    text-align: left;
}

.noticiario a{    
    padding: 10px 0;
    color: gold;
    font-weight: bold;
}

.noticiario a:hover{
    text-decoration: underline;
}

/*BANNER 1*/

.primerbanner{
    margin: 50px;
    width: 400;
    height: 200px;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.527),
            rgba(0, 0, 0, 0.5)
        );
    border: 1px solid silver;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 243.5px;
    margin-right: 243.5px;
    background-color: black;
}


.primerbanner .quote{
    width: 100%;
    height: 180px;
    color:white;
}

.primerbanner blockquote{
    font-family: Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
    margin-left: 55px;
    margin-right: 55px;
    padding-top: 49px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

/*SOCIAL*/

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    src:url("OLD.ttf");
}

.enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlaces a{
    margin: 0 30px;
    margin-bottom: 50px;

}

.enlaces a i {
    font-size: 3rem;
}











/*Reducing Scale*/

@media (max-width: 1100px ) {
    .primerbanner{
        margin-left: 122px;
        margin-right: 122px;
    }
}

@media (max-width: 830px ) {
    .noticiario{
        grid-template-columns: repeat(2, 1fr);
    }

    .primerbanner{
        margin-left: 60px;
        margin-right: 60px;
    }
}



/*Phone size*/

@media (max-width: 790px) {
    
    .showcase{
        height: 350px;
    }
}

@media (max-width: 730px) {

    .body{
        font-size: 12px;
    }

    .nav-main{
        height: 55px;
        font-size: 16px;
    }

    .nav-brand{
        width: 80px;
        margin: auto;
    }

    .titulo1{
        font-size: 26px;
    }

    p{
        font-size: 14px;
    }

    .btn{
        font-size: 15px;
    }

    .noticiario h3{
        font-size: 15px;
    }

    .social p{
        font-size: 24px;
    }

    .noticiario{
        grid-template-columns: repeat(2, 1fr);
    }

    .primerbanner{
        font-size: 14px;
        height: 110px;
    }

    .primerbanner blockquote{
        padding-top: 18px;
        margin-left: 40px;
        margin-right: 40px;
    }

}

@media (max-width:580px) {
    .nav-main ul li {
        padding: 40px;
    }

    .titulo1{
        font-size: 24px;
    }
    
    .showcase{
        height: 250px;
    }

    .primerbanner{
        font-size: 12px;
        height: 110px;
        margin-left: 12px;
        margin-right: 12px;
    }

    .primerbanner blockquote{
        padding-top: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:480px) {
    .nav-main ul li {
        padding: 12px;
    }
    
    .showcase{
        height: 250px;
    }

    .primerbanner{
        font-size: 12px;
        height: 110px;
    }

    .primerbanner blockquote{
        padding-top: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .titulo1{
        font-size: 20px;
        margin-bottom: 150spx;
    }

    p{
        font-size: 11px;
    }

    .showcase h2, .showcase p{
        margin-bottom: 0;
    }
}